<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outliers.aidlserversdk">

    <application>
        <service android:name=".services.SensorService"
            android:exported="true"
            android:process=":sensor_service_process">
            <intent-filter>
                <action android:name="android.intent.action.SENSOR_SERVICE"/>
            </intent-filter>
        </service>
    </application>

</manifest>